<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.allen.mapper.DistrictMapper" >
  <resultMap id="BaseResultMap" type="District" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="districtName" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="isInvalid" jdbcType="SMALLINT" javaType="java.lang.Short" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, districtName, createTime, isInvalid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from district
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from district
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="District" >
    insert into district (id, districtName, createTime, 
      isInvalid)
    values (#{id,jdbcType=INTEGER}, #{districtname,jdbcType=NVARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{isinvalid,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="District" >
    insert into district
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="districtname != null" >
        districtName,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="isinvalid != null" >
        isInvalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="districtname != null" >
        #{districtname,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isinvalid != null" >
        #{isinvalid,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="District" >
    update district
    <set >
      <if test="districtname != null" >
        districtName = #{districtname,jdbcType=NVARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="isinvalid != null" >
        isInvalid = #{isinvalid,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="District" >
    update district
    set districtName = #{districtname,jdbcType=NVARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      isInvalid = #{isinvalid,jdbcType=SMALLINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>