<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings> 
	<setting name="cacheEnabled" value="true" /> 
	</settings> 
	
	
	<!--  mapper下面的XML文件中  别名（District）可以用在任何使用 com.allen.model.District的地方 -->
	<typeAliases>
     	<typeAlias  alias="BaseUser" type="com.allen.model.BaseUser"/>
     	<typeAlias  alias="District" type="com.allen.model.District"/>
  	</typeAliases>

	<mappers>
  		<mapper resource="mapper/DistrictMapper.xml" />
  		<mapper resource="mapper/BaseUserMapper.xml" />
 	</mappers>
</configuration>
